<h2>Reports list</h2>
<div class="new-report-btn">
  <%= button_to "New report", new_report_path, method: 'get' %>
</div>
<table class="reports-list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.date %></td>
        <td><%= button_to "Show report", report_path(report), method: 'get' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
