<h2>Reports list</h2>
<table class="reports-list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
